<footer class="bg-dark">
	<div class="container">
		<div class="row pb-3">
			<div class="col-sm-10">
				<p class="text-light">
					{{ site.data[page.collection].strings.by | replace: "$1", '<a href="https://github.com/SombrAbsol/" class="link">SombrAbsol</a>'}}<br>
					{% assign source = site.repo | append: "/blob/main/pages/" | append: page.path %}
					{{ site.data[page.collection].strings.published-with | replace: "$1", source }}
				</p>
			</div>
			<div class="col-sm-2">
				<label for="themeSelector" class="text-light">{{ site.data[page.collection].strings.color-scheme }}</label>
				<select id="themeSelector" class="form-select form-select-dark text-light" onchange="setTheme(value)">
					<option value="default">{{ site.data[page.collection].strings.default }}</option>
					<option value="dark">{{ site.data[page.collection].strings.dark }}</option>
					<option value="light">{{ site.data[page.collection].strings.light }}</option>
				</select>
			</div>
		</div>
	</div>
</footer>
