<footer class="bg-dark">
	<div class="container">
		<div class="row pb-3">
			<div class="col-sm-10">
				<p class="text-light">
					Par : <a href="https://github.com/SombrAbsol" class="link">SombrAbsol</a><br>
					Publié avec <a href="https://pages.github.com">GitHub Pages</a>, voir <a href="https://github.com/{{ site.repo }}">la source</a> on GitHub.<br>
					{% if page.show_version %}
						Version : <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}">{{ site.github.build_revision | | truncate: 7, "" }}</a>
					{% endif %}
				</p>
			</div>
			<div class="col-sm-2">
				<label for="themeSelector" class="text-light">Thème :</label>
				<select id="themeSelector" class="form-select form-select-dark text-light" onchange="setTheme(value)">
					<option value="default">Défaut</option>
					<option value="dark">Sombre</option>
					<option value="light">Clair</option>
				</select>
			</div>
		</div>
	</div>
</footer>
